@use "../abstracts" as *;
@use "../function" as *;

/* - - - - - - - - Footer- - - - - - - - -*/

.footer {
  margin-top: to-rem(120px);
  background: var(--clr-neutral-100);
  ul {
    padding: 0;
  }
  /*------------------Footer Top Section ---------------------------*/
  &__top {
    background: url("../../images/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include mq("768px") {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 5rem;
    }

    @include mq("lg") {
      background: none;
      padding-bottom: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 231px;
        background: url("../../images/bg-pattern-footer-desktop.svg");
        background-repeat: no-repeat;
        pointer-events: none;
      }
    }

    @include mq("xl") {
      padding: 3rem 5rem 0 5rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(2.5rem);
      margin: 1rem;
      border-bottom: 1px solid var(--clr-neutral-110);
      opacity: 0.5;
      pointer-events: none;

      @include mq("sm") {
        transform: translateY(3rem);
      }
    }
  }

  &__logo {
    margin-top: to-rem(80px);
    display: inline-block;

    @include mq("sm") {
      margin-top: to-rem(90px);
    }
    @include mq("md") {
      margin-top: 0;
    }
    @include mq("lg") {
      z-index: 1;
    }
  }

  /*----------Social Icon -------------------*/
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    padding: 0.5rem;
  }
  &__link img {
    &:hover {
      filter: brightness(0);
    }
  }

  /*------------------Footer Bottom Section ------------------*/

  &__bottom {
    margin-top: 2rem;

    @include mq("sm") {
      margin-top: 3rem;
      margin-bottom: 5rem;
    }

    @include mq("md") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 0;
    }

    @include mq("lg") {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 2rem;
    }
    @include mq("xl") {
      margin: 0 5rem;
      text-align: left;
    }

    &-title {
      padding: 1.5rem 0;
      @include font-type-scale(
        var(--fs-size-2xs),
        var(--ff-family-karla),
        var(--fw-weight-bold),
        0.85px,
        1
      );
      color: var(--clr-neutral-110);
      text-transform: uppercase;
    }
    &-list {
      z-index: 1;
    }
    &-item {
      padding: 0.25rem 0;
    }
    &-link {
      @include font-type-scale(
        var(--fs-size-3xs),
        var(--ff-family-karla),
        var(--fw-weight-bold),
        1.55px,
        null
      );
      text-transform: uppercase;
      padding: 0.5rem 0;
      color: var(--clr-neutral-120);

      @include mq("768px") {
        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--clr-neutral-120);
        }
      }
    }
  }
}
