@use '../abstracts' as *;
@use './navigation';

/* - - - - - - - - Header- - - - - - - - -*/
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: relative;

  @include mq("xl") {
    padding: 1.5rem 5rem;
  }
}
