@use '../abstracts' as *;
@use '../function' as *;

/*--------------------Hero section-----------------*/
.hero {
  picture img {
    width: 100%;
  }
}
.categories {
  margin: to-rem(160px) 1rem;

  & h2 {
    @include font-type-scale(
      var(--fs-size-lg),
      var(--ff-family-dm),
      var(--fw-weight-regular),
      null,
      1
    );
    @include mq("sm") {
      font-size: var(--fs-size-xl);
    }
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(50%, -2.5rem);
      height: 100%;
      width: 50%;
      border-top: 1px solid var(--clr-neutral-110);
      opacity: 0.5;
    }
  }

  & article {
    margin-top: to-rem(70px);

    @include mq("sm") {
      margin-top: to-rem(80px);
    }
  }

  &__img {
    display: inline-block;
  }

  &__title {
    @include font-type-scale(
      var(--fs-size-md),
      var(--ff-family-dm),
      var(--fw-weight-regular),
      0.15,
      1
    );
    padding: 1.5rem;
  }

  &__text {
    @include font-type-scale(
      var(--fs-size-xs),
      var(--ff-family-karla),
      var(--fw-weight-bold),
      null,
      1.6
    );

    @include mq("sm") {
      font-weight: var(--fw-weight-regular);
    }
    color: var(--clr-neutral-110);
  }
}
