@use '../abstracts' as *;
@use '../function' as *;
/*--------------------Hero section-----------------*/
.hero {
  picture {
    img {
      width: 100%;

      @include mq("768px") {
        max-width: 512px;
        max-height: 462px;
      }
      @include mq("xl") {
        width: unset;
      }
    }

    @include mq("768px") {
      z-index: 1;
      position: absolute;
      right: 0;
      top: 3rem;
      width: 50%;
      margin-right: 1.5rem;
    }

    @include mq("xl") {
      width: unset;
      margin-right: 5rem;
      margin-top: 2rem;
    }
  }

  @include mq("768px") {
    position: relative;
  }
}

/*---------- Humanizing Section ----------------*/

.humanizing {
  padding: to-rem(82) 1.5rem;
  background: var(--clr-primary-110);
  color: var(--clr-neutral-100);
  position: relative;

  @include mq("xl") {
    padding: to-rem(82) 0;
  }

  &__wrapper {
    z-index: 2;
    position: relative;

    @include mq("768px") {
      text-align: left;
      width: calc(50% - 2rem);

      @include mq("xl") {
        margin-top: 2rem;
        margin-left: 5rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 30%;
        border-top: 1px solid var(--clr-neutral-100);
        margin-top: to-rem(-40);

        @include mq("xl") {
          width: 20%;
        }
      }
    }
  }

  &__title {
    @include font-type-scale(
      var(--fs-size-lg),
      var(--ff-family-dm),
      var(--fw-weight-regular),
      null,
      1
    );

    @include mq("sm") {
      font-size: var(--fs-size-xl);
    }

    @include mq("sm") {
      font-size: var(--fs-size-xl);
    }
  }

  &__text {
    @include font-type-scale(var(--fs-size-xs), var(--ff-family-karla), normal, 0.7, 1.62);
    padding: 1rem 0;
  }

  &__btn {
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    pointer-events: none;

    @include mq("xl") {
      background: url("../../images/bg-pattern-intro-right-desktop.svg");
      background-position: right top;
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: translateY(10rem);
    height: 100%;
    width: 100%;
    background: url("../../images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    pointer-events: none;

    @include mq("xl") {
      background: url("../../images/bg-pattern-intro-left-desktop.svg");
      background-position-x: left;
      background-position-y: bottom;
      background-repeat: no-repeat;
      transform: translateY(16rem);
      background-size: 12%;
    }
  }
}
