@use '../abstracts' as *;
@use '../function' as *;

/*---------------Work Section ------------------------*/
.work {
  background-color: var(--clr-primary-110);
  position: relative;
  padding: 5rem 2.5rem;
  margin-top: -4rem;
  margin-left: 1rem;
  margin-right: 1rem;

  @include mq("sm") {
    margin-top: 0rem;
  }

  @include mq("768px") {
    margin: 0rem 5rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }

  @include mq("xl") {
    padding: 5rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../../images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-position: top right;
    pointer-events: none;

    @include mq("xl") {
      background: url(../../images/bg-pattern-how-we-work-desktop.svg);
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  &__title {
    color: var(--clr-neutral-100);
    @include font-type-scale(32, var(--ff-family-dm), var(--fw-weight-regular), null, 1);

    @include mq("sm") {
      font-size: var(--fs-size-lg);
    }

    @include mq("xl") {
      font-size: var(--fs-size-2xl);
      width: to-rem(480px);
    }
  }
  &__cta {
    display: inline-block;
    margin-top: 2.5rem;

    @include mq("768px") {
      margin: 0;
      transition: 0.4s;

      &:hover {
        background: var(--clr-neutral-100);
        a {
          color: var(--clr-neutral-120);
        }
      }
    }
    @include mq("xl") {
      z-index: 1;
    }
  }

  &__btn {
    font-size: var(--fs-size-3xs);

    @include mq("xl") {
      font-size: var(--fs-size-2xs);
      padding: 0.5rem;
      width: to-rem(152px);
    }
  }
}
