@use '../function' as *;

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($path + ".ttf");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face("karla", "../../fonts/Karla-Regular", 400, regular);
@include font-face("karla", "../../fonts/Karla-Bold", 700, bold);
@include font-face("DM Serif", "../../fonts/DMSerifDisplay-Regular", 400, regular);

//font size
$xs-3: 13;
$xs-2: 14;
$xs: 16;
$sm: 22;
$md: 27;
$lg: 39;
$xl: 47;
$xl-2: 55;
$xl-3: 70;

// font Weight
$regular: 400;
$bold: 700;

//font Family
$karla: "'Karla', sans-serif";
$DM: "'DM Serif Display', serif";

$fonts: (
  "font": (
    property: "family",
    class: "ff",
    "values": (
      "karla": $karla,
      "dm": $DM,
    ),
  ),
  "weight": (
    property: "weight",
    class: "fw",
    "values": (
      "regular": $regular,
      "bold": $bold,
    ),
  ),
  "size": (
    property: "size",
    class: "fs",
    "values": (
      "3xs": to-rem($xs-3),
      "2xs": to-rem($xs-2),
      "xs": to-rem($xs),
      "sm": to-rem($sm),
      "md": to-rem($md),
      "lg": to-rem($lg),
      "xl": to-rem($xl),
      "2xl": to-rem($xl-2),
      "3xl": to-rem($xl-3),
    ),
  ),
);
