@use "sass:math";
@use "sass:meta";
@use "sass:map";
@use "sass:string";
@use "../function" as *;

//Custom-variables
@mixin custom-variables($variables...) {
  $class: map-merge-multiple($variables...);
  $prefix: null;
  @each $order, $family in $class {
    @each $genus, $species in map.get($family, "values") {
      @if (map.get($family, "property") == $prefix) {
        --#{map.get($family, 'class')}-#{map.get($family, 'property')}-#{$genus}: #{$species};
      } @else {
        /*=======#{string.to-upper-case(map-get($family, 'property'))}=======*/

        $prefix: map.get($family, "property");
        --#{map.get($family, 'class')}-#{map.get($family, 'property')}-#{$genus}: #{$species};
      }
    }
  }
}

//font-properties
@mixin font-type-scale($size: 16, $typeface: null, $weight: normal, $space: null, $line: null) {
  @if meta.type-of($size) != "number" {
    font-size: $size;
  } @else {
    font-size: to-rem($size);
  }
  font-family: $typeface;
  font-weight: $weight;
  line-height: $line;
  letter-spacing: $space;
}
